<h3>Code Frequency</h3>
    <div class="statDetailContainer">
        {{#each this}}
            <div>
                On week {{this.[0]}} there has been {{this.[1]}} additions and {{this.[2]}} deletions.
                <canvas id="my-chart"></canvas>
            </div>
        {{/each}}
    </div>

    