    <h3>Participation</h3>
    <div class="statDetailContainer">
        Owner made commits pr week. {{this.owner}}
        all commits pr week.  {{this.all}} 
    </div>
            
        

         