    <h3>Participation</h3>
    <div class="statDetailContainer">
        <div>
            <canvas id="participationCanvas"></canvas>
        </div>
    </div>

<script>
    let stringDataOwner = '{{this.owner}}'
    let stringDataAll = '{{this.all}}'

    let dataOwner = stringDataOwner.split(',');
    let dataAll = stringDataAll.split(',');

    let currentdate = new Date();

    let oneJan = new Date(currentdate.getFullYear(),0,1);
    let numberOfDays = Math.floor((currentdate - oneJan) / (24 * 60 * 60 * 1000));
    let weekNo = Math.ceil(( currentdate.getDay() + 1 + numberOfDays) / 7);

    const labels = [];
    let j = weekNo+1;
    for (let i = 0; i<52-weekNo; i++){
        labels[i] = j;
        j++;
    }

    j = 1;
    for(let i=labels.length;i<53;i++){
        labels[i] = j;
        j++;
    }

    const ctx = document.getElementById('participationCanvas').getContext('2d');
    const chart = new Chart(ctx, {
        type: 'line',
        data: {
        labels: labels,
        datasets: [
            {
            label: 'Owner',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: dataOwner
            },{
            label: 'All',
            backgroundColor: 'rgb(99, 255, 132)',
            borderColor: 'rgb(99, 255, 132)',
            data: dataAll
            }
        ]
        }
    }); // closes chart = new Chart()
</script>