
<h3>Frequency</h3>
{{!-- {{this.code_frequency}} --}}

<h3>contributors</h3>
{{!-- {{#each this }} --}}
    <div>
        {{#each this}}
            {{this}}
            {{!-- {{this.total}} --}}
        {{/each}}
    </div>
{{!-- {{/each}} --}}