   <body>
     
    <div class="container">
    <header class="d-flex flex-wrap align-items-center py-3 mb-4 border-bottom header-color">
      
      <div class="col-md-3 text-end">
        <a class="btn btn-primary" href="/profile" class="nav-link px-2 link-secondary">Profile</a>
      </div>

      <div class="col-md-3 text-end">
          <h1>HOME</h1>
      </div> 

      <div class="col-md-3 text-end">
            <form id="logout-form" action="/logout" method="POST">
                <button class="btn btn-primary">Logout</button>
            </form>
      </div>
      
    </header> 
    </div>
    <div class="container">
      <div class="row">
      {{#each data}}
        {{> repoTile this}} 
      {{/each}}
      </div>
    </div>
        
    <script src="/js/script.js"></script>
   </body>

<script>
  
  console.log({{data}});
  </script>