   <body>
     <div>
          <h1>HOME</h1>
    </div>
    <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>
         
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/profile" class="nav-link px-2 link-secondary">Profile</a></li>
        <li><a href="/faq" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="/about" class="nav-link px-2 link-dark">About</a></li>
      </ul>

      <div class="col-md-3 text-end">
            <form id="logout-form" action="/logout" method="POST">
                <button class="btn btn-outline-primary me-2">Logout</button>
            </form>
      </div>
    </header> 
    </div>

      
    <!-- {{#each repo}} 
        {{> repoTile this}} 
    {{/each}} -->

    <H1>EXAMPLE</H1>
  <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Title</h5>
    <p class="card-text">Description</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">link to git repository</a>
    <a href="#" class="card-link">Link to stats page</a>
  </div>
</div>


  
    <script src="/js/script.js"></script>
   </body>

