   <body>
     
    <div class="container">
    <header class="d-flex flex-wrap align-items-center py-3 mb-4 border-bottom header-color">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>
      
      
      <a class="btn btn-outline-primary me-2" href="/profile" class="nav-link px-2 link-secondary">Profile</a>
      

      <div class="col-md-3 text-end">
          <h1>HOME</h1>
    </div> 

      <div class="col-md-3 text-end">
            <form id="logout-form" action="/logout" method="POST">
                <button class="btn btn-outline-primary me-2">Logout</button>
            </form>
      </div>
    </header> 
    </div>
    <div class="container">
      <div class="row">
      {{#each data}}
        {{> repoTile this}} 
      {{/each}}
      </div>
    </div>
        
    <script src="/js/script.js"></script>
   </body>

