


  
  
  

  <form class="loginform" action="/login" method="POST">
    <label >Login</label>
    <br>
    <label> Username
      <input type="text" name="username" />
    </label>
    <br>
    <label> Password
      <input type="password" name="password" />
    </label>
    <br>
    <button type="submit">login</button>
    <br>
    <a href="/register">Register</a>
    <br>
    
       {{!-- error message will be added here --}}
        {{#if errorMessage}}
         <p class="error">{{errorMessage}}</p>
        {{/if}}
  </form>

  

  
  

