<div>
  <h2>Register</h2>
  <form action="/register" method="POST">

    <label> Username
      <input type="text" name="username" placeholder="<username>" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <label> GITUsernames
      <input type="text" name="gitusernames" placeholder="<GIT usernames>" />
    </label>

    <button type="submit">Register</button>

    {{!-- error message will be added here --}}
      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}

  </form>
</div>