<div >
    <header class="d-flex flex-wrap align-items-center py-4 mb-4 border-bottom header-color">
        
       
        <div class="col-md-2 text-end">
            <a class="btn btn-primary" href="/home" class="nav-link px-2 link-dark">Home</a>
        </div>
  
      <div class="col-md-5 text-end">
          <h3>STATISTICS for: {{data.repo}} </h3>
         </div> 
        
       

      <div class="col-md-2 text-end">
            <form id="logout-form" action="/logout" method="POST">
                <button class="btn btn-primary">Logout</button>
            </form>
      </div>
    </header> 
    </div>

<div class="statContainer">
    <div>
        {{> contributors_stat data.contributors}}
    </div>
    <div>
        {{> participation_stat data.participation}}
    </div>
    <div>
        {{> code_freq_stat data.code_frequency}}
    </div>
    {{!-- {{> statisticsPage this.total}} --}}
</div>