
<h1>STATISTICS for {{data.repo}}</h1>
<a href="/home" class="nav-link px-2 link-dark">home</a>
<div class="statContainer">
    <div>
        {{> contributors_stat data.contributors}}
    </div>
    <div>
        {{> participation_stat data.participation}}
    </div>
    <div>
        {{> code_freq_stat data.code_frequency}}
    </div>
    {{!-- {{> statisticsPage this.total}} --}}
</div>