body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
  
}

.repoList{
  width: 70%;
  display: grid;
  gap: 0.25rem;
  grid-auto-columns: 2fr 1fr 1fr 1fr;
  grid-template-areas: 
  'one two three four';
  border-bottom: 1px solid grey;
}

.repoList:nth-child(1){
  grid-area: one;
}
.repoList:nth-child(2){
  grid-area: two;
}
.repoList:nth-child(3){
  grid-area: three;
}
.repoList:nth-child(4){
  grid-area: four;
}
/*.repoList:nth-child(5){
  grid-area: four;
}
.repoList:nth-child(6){
  grid-area: three;
}
.repoList:nth-child(7){
  grid-area: four;
} */

.loginform {
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginform button {
  width: 6em;
  height: 2em;
  margin: auto;
}

.loginform label {
  width: 6em;
  height: 2em;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.loginform a {
  width: 6em;
  height: 2em;
  margin: auto;

}

.loginform p {
  color: red;
  width: 15em;
  height: 2em;
  margin: auto;
  padding: auto;
}

.statContainer{
  display: grid;
}

.statDetailContainer{

}

#participationCanvas{
  border: solid 1px rgb(96, 99, 97);
  width: 300px !important;
  height: 200px !important;
  border-radius: 0.5rem;
}

#code_freqCanvas{
  border: solid 1px rgb(96, 99, 97);
  width: 300px !important;
  height: 200px !important;
  border-radius: 0.5rem;
}

.header-color {
  background-color: rgb(96, 99, 97);
  color: #0D6EFD

}

.card-top-color {
  background-color: rgb(96, 99, 97);
}
.card-bottom-color {
  background-color: rgb(152, 158, 154);
}